<mat-toolbar color="primary" class="app-header" [class.dark-theme]="isDark">
    <div>
        <a href="https://www.positronx.io" target="_blank" class="positronx"
            ><img src="./assets/logo-bc.svg" width="180px">
        </a>
    </div>
    <span class="nav-tool-items">
        <div class="platformbuilders-margin-1-rem">
            <mat-slide-toggle (change)="toggleTheme()"
                >Modo Dark</mat-slide-toggle
            >
        </div>
    </span>
    <span class="nav-tool-items">
        <a
            mat-button
            mat-raised-button
            (click)="logout()"
            routerLinkActive="active"
            >Sair
        </a>
    </span>
</mat-toolbar>

<mat-sidenav-container class="platformbuilders-sidenav-container" [class.dark-theme]="isDark">
    <mat-sidenav mode="side" opened="true" disableClose="true">
        <form class="platformbuilders-margin-1-rem">
            <mat-form-field class="platformbuilders-width-100-per">
                <input
                    matInput
                    placeholder="Infome a cidade"
                    [(ngModel)]="city"
                    [(ngModel)]="listFilter"
                    [ngModelOptions]="{ standalone: true }"
                />
            </mat-form-field>
        </form>

        <div class="platformbuilders-margin-1-rem">
            <button
                mat-raised-button
                class="platformbuilders-width-100-per"
                [disabled]="!listFilter"
                color="primary"
                (click)="loadCurrentWeather()"
            >
                Clima atual
            </button>
        </div>

        <div class="platformbuilders-margin-1-rem">
            <button
                mat-raised-button
                class="platformbuilders-width-100-per"
                [disabled]="!listFilter"
                color="primary"
                (click)="loadForecastWeather()"
            >
                Previsão de cinco dias
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <span class="platformbuilders-display-inline-block">
            <mat-card class="platformbuilders-card" *ngIf="showCurrent">
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <strong>Cidade: </strong
                            >{{ weatherDetails.cityName }}</mat-list-item
                        >
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <strong> Temperatura</strong> :
                            {{ weatherDetails.currentTemperature }}F
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <strong>Temperatura Mínima</strong> :
                            {{ weatherDetails.minTemperature }}F
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <strong>Temperatura máxima</strong> :
                            {{ weatherDetails.maxTemperature }}F
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <strong>Descrição</strong> :
                            {{ weatherDetails.description
                            }}<span>
                                <img
                                    src="http://openweathermap.org/img/w/{{
                                        weatherDetails.icon
                                    }}.png"
                                    alt="Site Logo"
                                    width="50"
                                    height="50"
                                />
                            </span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>

            <mat-card class="platformbuilders-forecast-card" *ngIf="showForecast">
                <div>
                    <h2>Previsão de cinco dias em {{ forecastData.name }}</h2>
                </div>
                <mat-tab-group color="primary">
                    <mat-tab
                        label="{{
                            forecastData.details[0].date | date: 'mediumDate'
                        }}"
                    >
                        <mat-list>
                            <mat-list-item>
                                Temperatura Mínima :
                                {{ forecastData.details[0].minTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Temperatura máxima :
                                {{ forecastData.details[0].maxTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Descrição :
                                {{ forecastData.details[0].description
                                }}<span>
                                    <img
                                        src="http://openweathermap.org/img/w/{{
                                            forecastData.details[0].icon
                                        }}.png"
                                        alt="Site Logo"
                                        width="50"
                                        height="50"
                                    />
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            forecastData.details[1].date | date: 'mediumDate'
                        }}"
                    >
                        <mat-list>
                            <mat-list-item>
                                Temperatura Mínima :
                                {{ forecastData.details[1].minTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Temperatura máxima :
                                {{ forecastData.details[1].maxTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Descrição :
                                {{ forecastData.details[1].description
                                }}<span>
                                    <img
                                        src="http://openweathermap.org/img/w/{{
                                            forecastData.details[1].icon
                                        }}.png"
                                        alt="Site Logo"
                                        width="50"
                                        height="50"
                                    />
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            forecastData.details[2].date | date: 'mediumDate'
                        }}"
                    >
                        <mat-list>
                            <mat-list-item>
                                Temperatura Mínima :
                                {{ forecastData.details[2].minTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Temperatura máxima :
                                {{ forecastData.details[2].maxTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Descrição :
                                {{ forecastData.details[2].description
                                }}<span>
                                    <img
                                        src="http://openweathermap.org/img/w/{{
                                            forecastData.details[2].icon
                                        }}.png"
                                        alt="Site Logo"
                                        width="50"
                                        height="50"
                                    />
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            forecastData.details[3].date | date: 'mediumDate'
                        }}"
                    >
                        <mat-list>
                            <mat-list-item>
                                Temperatura Mínima :
                                {{ forecastData.details[3].minTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Temperatura máxima :
                                {{ forecastData.details[3].maxTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Descrição :
                                {{ forecastData.details[3].description
                                }}<span>
                                    <img
                                        src="http://openweathermap.org/img/w/{{
                                            forecastData.details[3].icon
                                        }}.png"
                                        alt="Site Logo"
                                        width="50"
                                        height="50"
                                    />
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            forecastData.details[4].date | date: 'mediumDate'
                        }}"
                    >
                        <mat-list>
                            <mat-list-item>
                                Temperatura Mínima :
                                {{ forecastData.details[4].minTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Temperatura máxima :
                                {{ forecastData.details[4].maxTemperature }}F
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                Descrição :
                                {{ forecastData.details[4].description
                                }}<span>
                                    <img
                                        src="http://openweathermap.org/img/w/{{
                                            forecastData.details[4].icon
                                        }}.png"
                                        alt="Site Logo"
                                        width="50"
                                        height="50"
                                    />
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </span>
    </mat-sidenav-content>
</mat-sidenav-container>
