<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <!-- <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header> -->

        <ngx-auth-firebaseui-login
            [logoUrl]="logoUrl"
            [titleText]="titleText"
            [emailText]="emailText"
            [passwordText]="passwordText"
            [emailErrorPatternText]="emailErrorPatternText"
            [emailErrorRequiredText]="emailErrorRequiredText"
            [passwordErrorRequiredText]="passwordErrorRequiredText"
            [forgotPasswordText]="forgotPasswordText"
            [createAccountButtonText]="createAccountButtonText"
            [dontHaveAnAccountText]="dontHaveAnAccountText"
            orLabelText="OU"
            [providers]="providers"
            (onSuccess)="onSuccessLogin()"
            (onCreateAccountRequested)="goToCreateAccount()"
        ></ngx-auth-firebaseui-login>
    </mat-card>
</div>
