@import "./../styles/common.scss";
@import "./../styles/variables.scss";

// Header

.platformbuilders-header {
    height: $toolbar-height;
}

.platformbuilders-toolbar-city {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

// Sidenav Content

.platformbuilders-sidenav-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: $toolbar-height;
}

// Cards

.platformbuilders-card-position {
    position: absolute;
    right: 1rem;
    top: 1rem;
}


.mat-toolbar.mat-primary {
    background: #FFC900;
    color: rgb(0, 0, 0);
}
